[user]
    name = "Marcel Körtgen"
    useconfigonly = true
    
[includeIf "gitdir:work/**"]
    path = .gitconfig.work
[includeIf "gitdir:oss/**"]
    path = .gitconfig.oss

[alias]
    ls = log --pretty=format:\"%C(yellow)%h\\ %Creset%s%Cblue\\ [%cn]\\%Cred%d\" --decorate
    ll = ls --numstat
    ignore = update-index --assume-unchanged
    unignore = update-index --really-refresh
    tree = log --graph --decorate --pretty=oneline --abbrev-commit
    rem = restore --staged
    
    # ---
    # https://gist.github.com/mwhite/6887990
    a = add
    ap = add -p
    
    c = commit --verbose
    ca = commit -a --verbose
    cm = commit -m
    cam = commit -a -m
    m = commit --amend --verbose
    mn = commit --amend --no-edit
    
    d = diff
    ds = diff --stat
    dc = diff --cached	

    s = status -s	
    co = checkout
    cob = checkout -b	
    
    pl = pull
    plr = pull --rebase
    plff = pull --ff-only
    #-----
